* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

.editor-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.explorer {
  width: 200px;
  background-color: #999;
}

.explorer .explorer-header {
  display: flex;
  flex-direction: column;
  height: 40px;
  background-color: #797979;
}

.explorer .explorer-header p {
  text-align: center;
}

.explorer .file {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
}

.editor-wrapper .main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.editor-wrapper .main .tab-wrapper {
  display: flex;
  flex-direction: row;
  height: 40px;
  background-color: #797979;
  border: 1px solid #000000;
}

.editor-wrapper .main .tab-wrapper .tab {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100px;
  cursor: pointer;
}

.selected {
  background-color: beige;
}

.editor-wrapper .main .content-area {
  flex: 1;
  width: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.editor-wrapper .main .hash {
  padding: 10px;
  border-top: 1px solid black;
}

.performance {
  color: green;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.login-container button {
  width: 100px;
}

.login-form {
  margin: 10px;
}